[workspace]
members = [
    "simd-minimizers",
    "simd-minimizers-bench",
]
resolver = "2"

[profile.release]
lto = "thin"
incremental = true
debug = true

[workspace.dependencies]
packed-seq.git = "https://github.com/rust-seq/packed-seq.git"
